<h1>Editing Course Proposal Question</h1>

<%= render 'form', course_proposal_question: @course_proposal_question %>

<%= link_to 'Show', @course_proposal_question %> |
<%= link_to 'Back', course_proposal_questions_path %>
