<h1>Editing Course Course Series</h1>

<%= render 'form', course_course_series: @course_course_series %>

<%= link_to 'Show', @course_course_series %> |
<%= link_to 'Back', course_course_series_index_path %>
