<h1>Submit your idea</h1>
<h2>North Avenue Knowledge Exchange: Call for Learning</h2>

<p class="lead">We invite ideas for one-off workshops and ongoing course topics that you would like to learn during the North Avenue Knowledge Exchange Summer and Fall educational program. This form will remain open throughout the duration of the planning and programming season, from March through December, 2017.</p>

<%= render 'form', course_idea: @course_idea %>


