

<h1><%= @upcoming ? "Upcoming" : "Past" %> Courses</h1>
<div class="mb-3"><%= link_to 'Propose a course!', new_course_proposal_path, :class=>"btn btn-primary btn-block" %></div>

<div class="courses">
  <%= render "coursecards", {:courses=>@courses} %>
</div>
<br>


