<%# add navigation links to this file %>
<% @site.menus.where(:name=>"Main").first.menu_pages.each do |mp| %>
<li class="nav-item">
  <%= link_to mp.page.name,mp.page, {class: "nav-link"} %>
</li>
<% end %>
